<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Shojumaru&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
  <style>
    body{
      background-color: red;
      text-align: center;
      vertical-align: middle; 
    }
    h1{
      font-family: 'Shojumaru', cursive;
    }
    
  </style>
</head>
  <body>
      <h1>VEHICLE PARKING SYSTEM</h1>
      <p>A complete solution for parking management system</p>
      <br>
    <nav class="navbar navbar-default navbar-centre">
                <div class="container">
            
                  <ul class="nav navbar-nav navbar-centre">
                    <li class="active"><a href="/">HOME</a></li>
                    <li class="active"><a href="#">ABOUT US</a></li>
                      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">ADMINISTOR LOGIN </a>
                        <ul class="dropdown-menu">
                            <li><a href="Login" class="dropdown-item">LOGIN</a></li>
                          <li><a href="Signup" class="dropdown-item">SIGNUP</a></li>
                        </ul></li>
                        <li class="active"><a href="#">CONTACT US</a></li>
                  </ul>
                 
                </div>
              </nav>
              
              <div id="technology">
                  <h1>Technology Stack</h1>
                   <h2>Front End : Html-Css</h2>
                   <h2>Back End  : Node.js</h2>
                   <h2>Database  : Mongodb</h2>

              </div>
              <div id="course">
                <h2>How to use  :</h2><br>
                  <p>initial signup on administor before login </p>
                  <p>entry space detail and also entry details </p>
                  <p>enter exit detail if you want to see parking status go to parking Report page</p>
            </div>
  </body>
  
</html>